# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps

# Specific file ignores
config/known_devices.yaml
config/secrets.yaml

# ESPHome ignores
config/esphome/**/
!config/esphome/includes

# Node-RED ignores (for now everything)
config/node-red

# Ignore add-on files
config/bravia.conf

# Specific keeps
!.gitkeep
